textarea{
    resize: none;
  }
  #box{
    width: 65%;
    height: 500px;
    font-size: 19px;
    line-height: 25px;
    margin-left: 25%;
    border: 2px solid #000;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 5%;
    padding-top: 4%;
  }
  .message{
    padding-left: 10%;
    padding-top: 4%;
  }
 button{
  font-weight:bold;
}

#fake_textarea {
  width: 100%;
  height: 200px;
  border: 1px solid red;
}
[contentEditable=true]{
  border:1px solid grey;  
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  font-size: 19px;
  line-height: 25px;
  color:grey;
  font-style:italic;
}
